<!DOCTYPE html>
<head>
  <style>
    .nav li {
      display: inline-block;
      margin-top: 2em;
    }

    .nav a{
       padding: 0.5em 1em;
       background-color: lightblue;
       border-radius: 5px;
    }
    .extra_info {
      margin-top: 5em;
      border-top: 2px;
      border-top-style: solid;
      visibility: visible;
    }
  </style>
</head>

<html>
  <body>

    <div class='files'>
      <h2>File list</h2>
      <ul>
        <% @files.each do |file| %>
        <li><a href="<%= file %>"><%= file %></a></li>
        <% end %>
      </ul>
    </div>

    <div class='nav'>
      <ul>
        <li><a href="/?reverse=false">Sort ascending</a></li>
        <li><a href="/?reverse=true">Sort descending</a></li>
      </ul>
    </div>

    <div class='extra_info'>
      <%= @info %>
    </div>

  </body>
</html>

