<!DOCTYPE html>
<head>
  <style>

  </style>
</head>

<html>
  <body>
    <h2><%= @name %>'s page</h2>
    <%#= @users %>
    <p>email: <%= @users[@name.to_sym][:email] %></p>
    <p>interests: <%= format_interests(@users[@name.to_sym][:interests]) %></p>
  </body>
</html>

