<!DOCTYPE html>
<head>
  <style>

  </style>
</head>

<html>
  <body>
    <p>Our users!</p>
    <%#= @users %>
    <% @users.each do |name, details| %>
      <p><%= name %></p>
    <% end %>
  </body>
</html>

