<h1>Our members:</h1>
<% @members.each do |member| %>
  <div class='member'>
    <a href='/members/<%= member %>'><%= member %></a>
    <a href='/members/<%= member %>/edit'>Edit</a>
    <a href='/members/<%= member %>/delete'>Delete</a>
  </div>
<% end %>
<br>
<a href='/members/new'>New Member</a>